<div class="container">
  <h1>Decouverte Angular PART 1</h1>
  <hr />
  <h3>Exercice 1 :</h3>
  <a no-open href="https://google.com">GOOGLE NO OPEN</a>
  <br />
  <br />
  <a confirm href="https://google.com">GOOGLE CONFIRM</a>
  <br />
  <br />
  <hr />
  <h3>Exercice 2 :</h3>
  <user-profile
    first-name="Pierre"
    last-name="Cask"
    job="Médecin"
    [hired]="false"
  ></user-profile>
  <user-profile
    first-name="Magalie"
    last-name="Picart"
    job="Juriste"
    [hired]="true"
  ></user-profile>
  <hr />
  <h3>Exercice 3</h3>
  <p
    (color-change)="onColorChange($event)"
    #paragraphe="hl"
    highlight
    background-color="green"
    base-color="purple"
  >
    highlight est un attribut. Quand angular voir cet attribut il lui greffe un
    comportement particulier.
  </p>

  <button (click)="paragraphe.onMonseEnter()">changer la couleur</button>

  <p highlight>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo
    earum cum quibusdam similique harum. Esse libero enim sit expedita labore
    explicabo consequatur id deserunt.
  </p>
</div>

<div class="container">
  <h1>Decouverte Angular PART 2</h1>
  <input [(model)]="revenuDeBase" type="number" placeholder="Vos revenus" />
  <button (click)="calculImpots()">Calcul des impôts</button>
</div>

<div class="container">
  <h1>Decouverte Angular PART 3 : SETCLASSES</h1>
  <p [set-classes]="{ red: age >= 18, bold: nationalite === 'Suisse' }">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo
    earum cum quibusdam similique harum. Esse libero enim sit expedita labore
    explicabo consequatur id deserunt.
  </p>
  <p [ngClass]="{ red: age >= 18, bold: nationalite === 'Suisse' }">
    NG CLASS FAIT LA MEME CHOSE
  </p>
  <button (click)="age = 12">Changer l'age</button>
  <button (click)="nationalite = 'USA'">Changer la nationalité</button>
</div>

<div class="container">
  <h1>Exercices : ForceLower</h1>
  <input force-lower value="MARIE" type="text" placeholder="Prénom" />
</div>
