<h1>Decouverte Angular</h1>

<a no-open href="https://google.com">GOOGLE NO OPEN</a>
<br />
<br />
<a confirm href="https://google.com">GOOGLE CONFIRM</a>
<br />
<br />

<user-profile
  first-name="Pierre"
  last-name="Cask"
  job="Médecin"
  [hired]="true"
></user-profile>
<user-profile
  first-name="Magalie"
  last-name="Picart"
  job="Juriste"
  [hired]="false"
></user-profile>
<user-profile
  first-name="Alexandre"
  last-name="Bon"
  job="Vigneron"
  [hired]="true"
></user-profile>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto
  similique et, dolorem saepe impedit voluptates vitae, commodi error est beatae
  numquam? Quia delectus corrupti qui totam voluptatem. Quisquam, neque.
</p>

<p highlight background-color="green" base-color="purple">
  highlight est un attribut. Quand angular voir cet attribut il lui greffe un
  comportement particulier.
</p>

<p highlight>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo earum
  cum quibusdam similique harum. Esse libero enim sit expedita labore explicabo
  consequatur id deserunt.
</p>
